html {
	background: url(../img/spiral.jpg) no-repeat top center fixed;
	background-size: cover;
    width: 100%;
    height: auto;
    padding-top: 217px;
    /*padding-top: 300px;*/
}

body {
	font-family: 'Montserrat', sans-serif;
}

.background {
	height: 400px;
	/*height: 315px;*/
}

#heading {
	width: 100%;
	text-align: center;
	font-weight: bold;
	color: rgba(255, 255, 255, 1);

}

#heading h1 {
	font-size: 50px;
	font-weight: 700;
	letter-spacing: 5px;
	margin: 10px;
}

#heading h2 {
	font-size: 16px;
	letter-spacing: 5px;	

}

.description {
	width: 395px;
	padding: 10px;
	margin: 0 auto;
	border: 1px solid rgb(0,0,0);
	background-color: rgb(0,0,0);
	opacity: 0.6;
}


nav {
	height: 50px;
	background-color: black;
	color: white;
	width: 100%;
	z-index: 9999;

}

ul {
	padding: 0 11%;

}


nav ul li {
	display: inline-block;
	line-height: 50px;
	padding: 0 13px;
	font-variant: small-caps;


}

nav ul li a {
	color: white;
	text-decoration: none;
}

.stuck{
	position: fixed;
	top: 0px;
	opacity: 0.9;
}

.name a:hover {
	text-decoration: underline;
}

.menu a:hover {
	text-decoration: underline;
}


.projects {
	background-color: rgba(233,233,233,1);
	
	
}

#thumbnails {
	padding: 120px 0;
	text-align: center;

	
}


.browser {
	margin: auto;
	position: relative;
	background-color: rgba(221, 221, 221, 1);
	display: block;
	height: 20px;
	background-color: rgb(221, 221, 221);
	border-radius: 3px 3px 0 0;
	width: 500px;
/*	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);*/
	z-index: 1000;


}

.browser:after {
	display: block;
	background: url(../img/buttons.png) no-repeat 0 center;
	position: absolute;
	margin: 7px 0 0 8px;
	width: 24px;
	height: 6px;
	content: '';
}

.thumbnail-containers{
	display: inline-block;
	margin: 20px 25px;


}


.thumb {
	display: inline-block;
	width: 500px;
	height: 290px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
}

.thumbnail-containers {
	position: relative;
	overflow: hidden;
}


.thumb figure img {
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.5s;
	-moz-transition: -moz-transform 0.4s, opacity 0.5s;
}


.caption {
	position: absolute;
	left: 0;
	top: 60%;
	bottom: 0;
	padding: 1.25em;
	color: rgba(67,67,67,1);
	background-color: rgb(221, 221, 221);
	width: 100%;
	margin-bottom: -8px;
	opacity: 1.0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
}

.caption h4 {
	text-align: left;
	padding-bottom: 10px;

}

.caption  p {
	display: block;
	text-align: left;
	border-top: thin dotted rgba(0, 0, 0, 0.5);
	padding-top: 10px;
	font-size: 13px;
	line-height: 20px;
	font-weight: 500;
	width: 90%;
}


.thumb:hover img  {
  opacity: 0.5;
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  transform: translateY(-30px);
  }

 .thumb:hover .caption {
  opacity: 1;
  -webkit-transform: translateY(1%);
  -moz-transform: translateY(1%);
  -ms-transform: translateY(1%);
  transform: translateY(1%);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s;
}

figure {
	height: 100%;
	background-color: black;
}



#about {
	background-color: rgba(255, 255, 255, 1);


}

.about-image {
	background: url(../img/profile.png) no-repeat;
	position: relative;
	width: 200px;
	height: 214px;
	margin: auto;
	top: 80px;


}

.about-text {
	padding: 100px 222px;

	
}

#para1 {
	border-top: thin double #e0e0e0;
}

.about-text p {
	text-align: center;
	padding-top: 20px;
	font-size: 16px;
	line-height: 35px;
	font-weight: 500;
	

}

#contact {
	height: 300px;
	width: 100%;
	opacity: 0.8;
	background-color: rgba(0,0,0, 0.5);
	font-variant: small-caps; 
}

#contact h3 {
	text-align: center;
	color: white;
	font-size: 16px;
	letter-spacing: 5px;
	padding-top: 37px;
}

.icons {
	text-align: center;
	padding: 63px 0;

}

.social-links {
	position: relative;
	height: 50px;
	width: 50px;
	display: inline-block;
	opacity: 1;
}


#mail {
	background: url(../img/mail.svg) no-repeat;
	margin-right: 100px;
	
}

#skype {
	background: url(../img/skype.svg) no-repeat;
	margin-right: 100px;
}

#google {
	background: url(../img/googleplus.svg) no-repeat;
	margin-right: 100px;
}

#linkedin {
	background: url(../img/linkedin.svg) no-repeat;
}



footer {
	height: 100px;
	background-color: rgb(0,0,0);
	opacity: 1;
	font-size: 10px;
	text-align: center;
	position: bottom fixed;
	color: rgba(255, 255, 255, 1);
	line-height: 100px;

}






/* X-Large Displays: 1400px and up */
@media (min-width: 1440px) {

}

/* Large Displays: 1280px - 1440px */
@media (min-width: 1280px) {

}

/* Medium Displays: 768px - 1279px */
@media (max-width: 940px) {

}

@media (max-width: 768px) {

	}

@media (max-width: 700px){
	ul li.menu {
      width: 100%;
      
      text-align: center;
    }
   .right {
   	float: none;
   }
}	

/* Small screens > 480px */
@media (max-width: 480px){
	html {
		padding-top: 123px;
	}

	.background {
	height: 494px;
}
	nav {
		
	}

}


/* About animation */

.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:2s;-moz-animation-duration:2s;-ms-animation-duration:2s;-o-animation-duration:2s;animation-duration:2s;}.animated.hinge{-webkit-animation-duration:2s;-moz-animation-duration:2s;-ms-animation-duration:2s;-o-animation-duration:2s;animation-duration:2s;}@-webkit-keyframes tada {
	0% {-webkit-transform: scale(1);}	10%, 20% {-webkit-transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {-webkit-transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {-webkit-transform: scale(1.1) rotate(-3deg);}
	100% {-webkit-transform: scale(1) rotate(0);}
}

@-moz-keyframes tada {
	0% {-moz-transform: scale(1);}	
	10%, 20% {-moz-transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {-moz-transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {-moz-transform: scale(1.1) rotate(-3deg);}
	100% {-moz-transform: scale(1) rotate(0);}
}

@-o-keyframes tada {
	0% {-o-transform: scale(1);}	
	10%, 20% {-o-transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {-o-transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {-o-transform: scale(1.1) rotate(-3deg);}
	100% {-o-transform: scale(1) rotate(0);}
}

@keyframes tada {
	0% {transform: scale(1);}	
	10%, 20% {transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);}
	100% {transform: scale(1) rotate(0);}
}

.tada {
	-webkit-animation-name: tada;
	-moz-animation-name: tada;
	-o-animation-name: tada;
	animation-name: tada;
}



